h1 {
  font-family: cursive;
  text-align: center;
}

.aboutus1 {
  text-align: center;
  font-family: cursive;
}

label {

font-family: cursive;

}

hr {
  height: 1px;
  width: 400px;
}
